<%- include('partials/header') %>

<main>
    <%- include('partials/proyectos') %>
    <%- include('partials/fases') %>
    <%- include('partials/actividades') %>
    <%- include('partials/tareas') %>
    <%- include('partials/responsables') %>
</main>

<%- include('partials/footer') %>
